body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: blue;
}

.clock-box{
  background-color: black;
  color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(190, 9, 9, 0.5);
  width: 300px;
}

.clock-title{
  margin: 0 0 20px 0;
  color: red;
}

.time-display{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}

.colon{
  animation: blink infinite;
}
